@use "variables/colors";
@use "mixin/mixins";
@use "partials/header";
@use "partials/found-card";
@use "partials/form";
@use "./partials/search";
@use "partials/button";

* {
  box-sizing: content-box;
}

html {
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: colors.$purple-color;
}
.letter--purple {
  color: colors.$purple-color;
}
.hidden {
  display: none;
}
