@use "variables/colors";
@use "mixin/mixins";
@use "../sass/components/header";
@use "../sass/components/found-card";
@use "../sass/components/form";
@use "../sass/components/search";
@use "partials/button";
@use "../sass/components/text-attention";
@use "../sass/components/footer";
@use "../sass/partials/giantcontainer";
@use "../sass/partials/base";
