@use "variables/colors";
@use "mixin/mixins";
@use "../sass/components/header";
@use "../sass/components/found-card";
@use "../sass/components/form";
@use "../sass/components/search";
@use "partials/button";
@use "../sass/components/text-attention";
@use "../sass/components/footer";
* {
  box-sizing: content-box;
}

html {
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: colors.$purple-color;
}
.letter--purple {
  color: colors.$purple-color;
}
.hidden {
  display: none;
}
