@use "../variables/colors";

.container__search-found-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: 900px) {
    flex-direction: row;
  }
}

.container__house-cards {
  display: flex;
  flex-direction: column;
  @media (min-width: 900px) {
  }
}

.container__image__info {
  display: flex;
  flex-direction: column;

  @media (min-width: 900px) {
    flex-direction: row;
  }
}
.images-list {
  margin: 0;
  list-style: none;
  display: flex;
  overflow: hidden;
  padding: 20px;
  gap: 20px;
  padding-left: 0;
  @media (min-width: 900px) {
    overflow: auto;
    width: 100%;
    gap: 0;
    padding: 0;
    margin: 1rem 1rem 4rem 1rem;
  }
}

.fa-star {
  color: palevioletred;
  padding: 4px;
}

.research-result {
  align-self: flex-start;
  font-weight: 700;
  color: black;
  align-self: center;
  @media (min-width: 900px) {
    align-self: auto;
    margin-top: 3.5rem;
    margin-left: 1rem;
  }
}

.house-card {
  border-bottom: 1px solid;
  border-color: colors.$grey-lane-color;
  @media (min-width: 900px) {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
}
.house-card__info {
  @media (min-width: 900px) {
    margin-top: 1rem;
  }
}

.images-list__image {
  display: flex;

  @media (min-width: 900px) {
    width: 100%;
  }
}
.container__image {
  @media (min-width: 900px) {
    width: 100%;
  }
}

.hidden {
  display: none;
  @media (min-width: 900px) {
    display: block;
  }
}

.hidden__photo {
  display: block;
  @media (min-width: 900px) {
    display: none;
  }
}
