@use "../variables/colors";

.header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-color: colors.$grey-lane-color;
  border-bottom: 1px solid;
  font-weight: 700;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: colors.$purple-color;
}

.header-menu {
  display: flex;
  align-self: center;
  color: colors.$purple-color;
}
