@use "../variables/colors";

.section__tittle {
  font-size: 22px;
  color: colors.$light-purple-color;
  font-weight: lighter;
}

.section__search {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  background-color: colors.$violet-background; 
  margin-top: 60px;
  border-radius: 20px;
  width: 320px;
  height: 450px; 
  margin-left: 30px;
  margin-bottom: 40px;
}

.text {
  color: #BCA4FF;
  margin-top: 15px;
}

.section__form {

  .form__input {
  border-radius: 16px;
  font-family: "Poppins", sans-serif;
  width: 300px;
  height: 30px;
  padding: 5px;
  }  
}



.section__form .form__input--search {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  border-radius: 16px;
}  

.button--big.button--pink {
  margin: auto;
  margin-top: 30px;

}

