@use "../variables/colors";

.section__tittle {
  font-size: 22px;
  color: colors.$light-purple-color;
  font-weight: lighter;
}

.section__search {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  background-color: colors.$violet-background;
  margin-top: 60px;
  border-radius: 20px;
  width: 320px;
  height: 450px;
  margin-bottom: 40px;
}

.text {
  color: #bca4ff;
  margin-top: 15px;
}

.section__form {
  .form__input {
    border-radius: 16px;
    font-family: "Poppins", sans-serif;
    width: 250px;
    height: 30px;
    padding-left: 40px;
  }
}

.input--search {
  background-image: url("../../images/lupa.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position-x: 5%;
  background-position-y: center;
}
.input--calendar {
  font-weight: lighter;
}

.input--travellers {
  background-image: url("../../images/user-solid.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position-x: 5%;
  background-position-y: center;
}

.section__form .form__input--search {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  border-radius: 16px;
}

.button--big.button--pink {
  margin: auto;
  margin-top: 30px;
}
