.container__browser-view {
  max-width: 430px;
  flex-direction: column;
  width: 90%;
  display: flex;
  @media (min-width: 900px) {
    max-width: 1400px;
  }
}
.body--center {
  display: flex;
  justify-content: center;
}
