@use "../variables/colors";

.header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px grey solid;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: colors.$purple-color;
}
.header-menu {
  display: flex;
  background-color: pink;
  align-self: center;
  color: colors.$purple-color;
  padding: 20px;
}
