@mixin formInput($borderRadiusInput, $widthInput, $heightInput) {
  font-family: "Poppins", sans-serif;
  border-radius: $borderRadiusInput;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin: 50px 30px;
  width: $widthInput;
  height: $heightInput;
}

@mixin button($background-color, $width, $height, $font-color) {
  font-family: "Poppins", sans-serif;
  border-radius: 40px;
  background-color: $background-color;
  color: $font-color;
  margin: 0px 30px;
  width: $width;
  height: $height;
  padding: 5px;
  border: none;
}
